/* This is the root formatting */
:root{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    background-color: white;
}
/* this is how I hide or display something in the HTML powered/switched by JS */
.hidden{
    display: none;
}
.visible {
    display: visible;
}
/* general button formatting */
button {
    color:white;
    background-color: purple;
    text-align: left;
}
/* header formatting to keep all items inside spaced correctly */
header{
    display:flex;
    justify-content: space-between;
    height: 100px;
    font-size:1.5rem;
}
/* removed anchor tag decoration and made it purple */
header nav a, .timer, .time {
    text-decoration: none;
    color: purple;
}
/* formatted the entire finish quiz page */
.finish-quiz-page{
    margin:0px 400px;
    line-height: 70px;
}
/* formatting for the header only */
.finish-quiz-page h1{
    font-size:2rem;
    font-weight:bold;
}
/* formatting for the view high scores page */
.view-high-scores{
    margin:0px 400px;
}
/* formatting for the header on the view high scores page */
.view-high-scores h1{
    font-size:2rem;
    font-weight:bold;
    margin-bottom: 30px;
}
/* formatting for the list items (high scores) that the JS creates */
.high-score-li{
    background-color: lavender;
    margin-bottom: 15px;
    height: 30px;
    display:flex;
    align-items:center;
}